.register-page {
  --background: var(--ion-background-color);

  &__form {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__error {
    display: block;
    margin-bottom: 12px;
    font-size: 0.875rem;
  }
}
