.collapsible-sheet {
  --ion-grid-padding: 0;
  --ion-grid-column-padding: 0;
  width: 100%;
  max-height: 78vh;
  background: #f9f9f9;
  border-radius: 60px 60px 0 0;
  transition: max-height 0.3s ease;
  overflow: hidden;

  &--collapsed {
    max-height: 88px;

    .collapsible-sheet__content {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__handle-row {
    cursor: pointer;
    padding: 13px 0 10px;
  }

  &__handle-col {
    display: flex;
    justify-content: center;
  }

  &__handle {
    display: block;
    width: 48px;
    height: 2px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.61);
  }

  &__content {
    max-height: calc(78vh - 28px);
    overflow-y: auto;
    transition: opacity 0.2s ease;
  }
}
