<ion-content [fullscreen]="true" class="splash">
  <ion-grid class="splash__grid">
    <ion-row class="ion-align-items-center ion-justify-content-center splash__hero-row">
      <ion-col size="12" class="splash__col">
        <ion-img
          src="assets/logo1.png"
          alt="Kilis Kalas Pro"
          class="splash__brand"
        ></ion-img>
       <!--  <ion-text class="splash__brand">{{ 'ONBOARDING.SPLASH.BRAND' | translate }}</ion-text> -->
      </ion-col>
    </ion-row>

    <ion-row class="splash__home-bar-row">
      <ion-col size="12" class="ion-text-center">
        <ion-text class="splash__home-bar"></ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
