<ion-content [fullscreen]="true" class="transport-mode">
  <ion-grid class="transport-mode__layout">
    <ion-row class="transport-mode__nav-row">
      <ion-col size="12" class="transport-mode__nav-col">
        <app-back-button defaultHref="/auth/register"></app-back-button>
      </ion-col>
    </ion-row>

    <ion-row class="transport-mode__header-row">
      <ion-col size="12" class="transport-mode__header-col ion-text-center">
        <ion-text class="transport-mode__title">{{ 'DRIVER.TRANSPORT.TITLE' | translate }}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="transport-mode__options-row">
      <ion-col size="12" class="transport-mode__options-col">
        @for (option of options; track option.mode) {
          <app-transport-option-card
            [mode]="option.mode"
            [iconSrc]="option.iconSrc"
            [labelKey]="option.labelKey"
            [brandLine1Key]="option.brandLine1Key"
            [brandLine2Key]="option.brandLine2Key"
            [flipIcon]="option.flipIcon ?? false"
            [selected]="selectedMode === option.mode"
            (selectedChange)="selectMode($event)"
          ></app-transport-option-card>
        }
      </ion-col>
    </ion-row>

    <ion-row class="transport-mode__submit-row">
      <ion-col size="12" class="transport-mode__submit-col">
        <app-pill-button [disabled]="!selectedMode" (buttonClick)="continue()">
          {{ 'DRIVER.TRANSPORT.SUBMIT' | translate }}
        </app-pill-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
