<ion-grid class="app-faq-item">
  <ion-row class="ion-align-items-center ion-justify-content-between ion-nowrap">
    <ion-col>
      <ion-button class="app-faq-item__trigger" fill="clear" expand="block" (click)="toggle()">
        <ion-text class="app-faq-item__question">{{ questionKey | translate }}</ion-text>
        <ion-icon
          slot="end"
          name="chevron-down-outline"
          class="app-faq-item__chevron"
          [class.app-faq-item__chevron--open]="expanded()"
        ></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  @if (expanded()) {
    <ion-row>
      <ion-col size="12">
        <ion-text class="app-faq-item__answer">{{ answerKey | translate }}</ion-text>
      </ion-col>
    </ion-row>
  }
</ion-grid>
