.app-document-list-item {
  --background: transparent;
  --background-hover: rgba(0, 0, 0, 0.03);
  --background-activated: rgba(0, 0, 0, 0.05);
  --padding-start: 0;
  --inner-padding-end: 0;
  --min-height: 54px;
  --border-width: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  &--last {
    border-bottom: none;
  }

  &__label {
    font-family: var(--kk-font-body);
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
    margin: 0;
  }

  &__icon {
    font-size: 24px;
    color: #000000;
    margin-inline-end: 0;
  }
}
